.title{
  color: blue;
  text-align: center;
}

.grid-container{
  height: 500px;
  width: 1300px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

.grid-container > div:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.grid-container > div:hover {
  transform: rotate(5deg) scale(1.03);
  transition: transform 0.4s ease-in-out;
}
/*
.grid-container > div:hover {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.grid-item-1{
  background-color: rgb(8, 84, 27);
  grid-column: 1/span 3;
  grid-row: 1/span 4;
}
.grid-item-2{
  background-color: rgb(232, 9, 9);
  grid-column: 4/span 9;
  grid-row: 1/span 1;
}
.grid-item-3{
  background-color: rgb(227, 207, 19);
  grid-column: 4/span 3;
  grid-row: 2/span 2;
}
.grid-item-4{
  background-color: rgb(30, 201, 236);
  grid-column: 7/span 3;
  grid-row: 2/span 2;
}
.grid-item-5{
  background-color: rgb(59, 29, 226);
  grid-column: 10/span 3;
  grid-row: 2/span 1;
}
.grid-item-6{
  background-color: rgb(239, 11, 137);
  grid-column: 10/span 3;
  grid-row: 3/span 1;
}
.grid-item-7{
  background-color: rgb(8, 10, 9);
  grid-column: 4/span 9;
  grid-row: 4/span 1;
}

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4,
.grid-item-5,
.grid-item-6,
.grid-item-7{
  border-radius: 12px;
}


/* Mobile: ≤ 640px */
@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item-1,
  .grid-item-2,
  .grid-item-3,
  .grid-item-4,
  .grid-item-5,
  .grid-item-6,
  .grid-item-7 {
    grid-column: 1 / -1;
    grid-row: auto;
  }
}